# General
profile=gpu-hq
gpu-api=vulkan
cursor-autohide=100
keep-open=yes
force-window=yes
msg-module
msg-color
keepaspect


# Subtitles
sub-ass-override=no
sub-font='Gandhi Sans'
sub-blur=0.2
sub-color=0.95
sub-border-color=0.05/0.05/0.03
sub-border-size=2.2
sub-bold
sub-spacing=0.6
sub-margin-x=180
sub-margin-y=36
sub-font-size=43
sub-auto=fuzzy
audio-file-auto=fuzzy


# OSD/OSC
demuxer-thread=no
osd-font="Noto Sans"


# Window
autofit-larger=1600
force-window-position=yes


# Streaming
hls-bitrate=max
ytdl-format=(bestvideo[fps>30]/bestvideo[vcodec=vp9]/bestvideo)+(bestaudio[acodec=opus]/bestaudio)/best
load-unsafe-playlists=yes
demuxer-lavf-o=live_start_index=-1


# Priority
slang=de,deu,en,eng,ja,jp,jpn
alang=ja,jp,jpn,en,eng,de,deu


# Subs
blend-subtitles=yes
demuxer-mkv-subtitle-preroll
sub-ass-vsfilter-blur-compat=no
sub-fix-timing=no
sub-gauss=1.0
sub-gray=yes


# Volume
volume=70

# Screenshot
screenshot-format=webp
screenshot-high-bit-depth=yes
screenshot-webp-lossless=yes
screenshot-webp-compression=6

# Deband
deband=no
deband-iterations=2
deband-threshold=64
deband-range=17
deband-grain=12


[extension.gif]
loop-file=yes

[extension.webm]
loop-file=yes

# Shaders
{{- if eq .chezmoi.hostname "david-pc" }}
glsl-shader="~~/shaders/FSRCNNX_x2_16-0-4-1.glsl"
glsl-shader="~~/shaders/KrigBilateral.glsl"
{{- end }}

# Resizer
scale=ewa_lanczos
# alternative dscale: mitchell
dscale=ewa_lanczos
cscale=sinc
cscale-window=blackman
cscale-radius=3
