#!/usr/bin/env fish

set -g fish_greeting ""

{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") }}
eval (/opt/homebrew/bin/brew shellenv)
{{- end }}

fish_add_path -gm ~/.local/bin ~/.cargo/bin

set -gx VISUAL "code --wait"
set -gx EDITOR micro

set -gx PYTHONIOENCODING 'UTF-8'
set -gx LANG 'de_DE.UTF-8'
set -gx LC_ALL 'de_DE.UTF-8'
set -gx LC_TIME 'ja_JP.UTF-8'

alias ls="exa --icons"
alias l="exa -l --icons"
alias ll="exa -l --icons"
alias la="exa -lA --icons"
alias tree="exa --tree --icons"
alias vim="nvim"
alias vi="nvim"
alias cat="bat -pp"

set -gx BAT_THEME "TwoDark"
set -gx PAGER "less -M"
set -gx MANPAGER "sh -c 'col -bx | bat -l man -p'"
set -gx MANROFFOPT "-c"

starship init fish --print-full-init | source
direnv hook fish | source
zoxide init fish | source

~/.cargo/bin/lolcow-fortune cowsay -fmoose -L
ssh-add -A 2>/dev/null;
