#!/usr/bin/env zsh

{{- if and (eq .chezmoi.os "darwin") (eq .chezmoi.arch "arm64") }}
export PATH=~/.local/bin:~/.cargo/bin:/opt/homebrew/sbin:/opt/homebrew/bin:"$PATH"
{{- else }}
export PATH=~/.local/bin:~/.cargo/bin:"$PATH"
{{- end }}

export VISUAL="code --wait"
export EDITOR=micro

export PYTHONIOENCODING='UTF-8'
export LANG='de_DE.UTF-8'
export LC_ALL='de_DE.UTF-8'
export LC_TIME='ja_JP.UTF-8'

# If not running interactively, don't do anything
test -z "$PS1" && return

alias ls="exa"
alias l="exa -l"
alias ll="exa -l"
alias la="exa -lA"
alias tree="exa --tree"
alias vim="nvim"
alias vi="nvim"
alias cat="bat -pp"

export BAT_THEME="TwoDark"
export PAGER="less -M"
export MANPAGER="sh -c 'col -bx | bat -l man -p'"
export MANROFFOPT="-c"

source ~/.zcomet/bin/zcomet.zsh

zcomet load Aloxaf/fzf-tab
zcomet load zsh-users/zsh-syntax-highlighting
zcomet load zsh-users/zsh-autosuggestions
zcomet fpath zsh-users/zsh-completions src

source <(starship init zsh --print-full-init)
eval "$(direnv hook zsh)"
eval "$(zoxide init zsh)"

zcomet compinit

~/.cargo/bin/lolcow-fortune cowsay -fmoose -L


autoload -U colors && colors
autoload -Uz url-quote-magic
zle -N self-insert url-quote-magic
autoload -Uz bracketed-paste-magic
zle -N bracketed-paste bracketed-paste-magic

unsetopt case_glob

setopt always_to_end
setopt auto_list
setopt auto_menu
setopt auto_param_slash
setopt autocd
setopt bang_hist
setopt combining_chars
setopt complete_in_word
setopt extended_history
setopt extendedglob
setopt hist_expire_dups_first
setopt hist_find_no_dups
setopt hist_ignore_all_dups
setopt hist_ignore_dups
setopt hist_ignore_space
setopt hist_save_no_dups
setopt hist_verify
setopt inc_append_history
setopt long_list_jobs
setopt no_complete_aliases
setopt notify
setopt path_dirs
setopt rc_quotes
setopt share_history

HISTSIZE=10000
SAVEHIST=10000
HISTFILE=~/.cache/zhistory
