#!/usr/bin/env bash

set -eux

###
# Services / Settings
###
sudo -v

mkdir -p ~/.local/bin


{{- if eq .chezmoi.os "linux" }}
# System Services
sudo systemctl enable --now fstrim.timer

sudo systemctl enable iwd
echo -e '[device]\nwifi.backend=iwd' | \
    sudo tee /etc/NetworkManager/conf.d/iwd.conf

# User Services
systemctl enable --user --now syncthing.service

# Gnome Terminal
bash -c "$(curl -fsSL https://github.com/denysdovhan/one-gnome-terminal/blob/aef1162226641279351d2a4cd21838e9433046d7/one-dark.sh)"
{{- end }}

# Shell
sudo chsh -s $(which zsh) $(whoami)

# HiDPI
{{- if eq .chezmoi.os "linux" }}
gsettings set org.gnome.mutter experimental-features "['scale-monitor-framebuffer']"
{{- end }}